.rede_responsive_demo__wrapper { width: 1000px; height: 2000px; padding: 0; overflow: hidden; }
.rede_responsive_demo__scaled-frame { width: 710px; height: 1420px; border: 0px; }
.rede_responsive_demo__scaled-frame {
	zoom: 0.71;
	-moz-transform: scale(0.71);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.71);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.71);
	-webkit-transform-origin: 0 0;
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
.rede_responsive_demo__scaled-frame  { zoom: 1;  }
}*/
